body{background-image: url(yol.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center ;
    }
    h1 {
        color: white;
    }
h3 {
    color: white;
}
table {
    color: white;
}